/*Add min height 200px in main*/

* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    padding: 20px 30px 50px 30px;
    min-width: 320px;
    max-width: 400px;
    background-color: aqua;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form.qi {
    display: flex;
    flex-direction: column;
}

.form.qi > .inputs {
    display: flex;
    flex-direction: column;
}