/*Add min height 200px in main*/

@font-face {
    font-family: 'Trueno Round Bold font';
    src: url(assets/fonts/TruenoRoundBd.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    padding: 20px 30px 50px 30px;
    min-width: 320px;
    max-width: 400px;
    background-color: aqua;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Trueno Round Bold font';
}

.form.qi {
    display: flex;
    flex-direction: column;
}

.form.qi > .inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
}

.form.qi > button {
    margin: 10px 20px 10px 20px;
}