/*Add min height 200px in main*/

@font-face {
    font-family: 'Trueno Round Bold font';
    src: url(assets/fonts/TruenoRoundBd.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F5F5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    padding: 20px 30px 50px 30px;
    min-width: 320px;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Trueno Round Bold font';
}

.form.qi {
    display: flex;
    flex-direction: column;
}

.form.qi>.inputs {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
}

.form.qi>.inputs input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid gray;
    height: 30px;
}

.form.qi>button {
    margin: 10px 20px 10px 20px;
    padding: 8px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #5D3DE1, #3B79CD);
    color: white;
    font-weight: 700;
}